@charset "UTF-8";

/* min ready */
div#redactoMainLineOffset,.redactoBorder {border:0!important;}

#redacto [aria-pressed="true"] {
    font-weight:700;
}

/* Add blur behind the popup */
html body.redacto-modal-open div#redactoRoot::before,
html body .redactoSize-middle.redactoBeforeVisible::before {
    content: " ";
    background: rgba(255,255,255,.25)!important;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    opacity: 1!important;
    position: fixed;
    inset: 0;
    z-index:100000;
}
html body.redacto-modal-open #redactoRoot #redactoAlertBig {
    z-index:10
}
html body #redactoRoot #redactoAlertBig #redactoDisclaimerAlert .redactoPartnersList {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
html body #redactoRoot.redactoSize-middle #redactoAlertBig {
    border: 1px solid rgba(0,0,0,.08);
    box-shadow: 0 20px 60px rgba(0,0,0,.25);
}
html body #redactoRoot.redactoSize-popup #redactoAlertBig {
    border: 1px solid rgba(0,0,0,.08);
    border-bottom:0;
    box-shadow: 0 20px 60px rgba(0,0,0,.25);
}

/* A11Y titles */
.redacto-modal-open #tac_title {display:none!important}

#redactoRoot #redactoInfo p {
    all: unset;
    display: inline;
}

.redacto-magic-block button {
    border-radius: 4px;
    background-color: #fbd600;
    cursor: pointer;
    display: inline-block;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    width: auto;
    border: 0;
    cursor: pointer;
    color:#000;
}

html #redactoRoot #redactoPrivacyUrl {
    padding: 8px 10px;
    font-size: 16px!important;
    line-height: 1;
    white-space: initial;
}

@media screen and (max-width: 900px) {
    #redactoRoot.redactoSize-popup button#redactoCloseAlert,
    #redactoRoot.redactoSize-popup button#redactoPrivacyUrl,
    #redactoRoot.redactoSize-popup button.redactoCTAButton,
    #redactoRoot.redactoSize-middle button#redactoCloseAlert,
    #redactoRoot.redactoSize-middle button#redactoPrivacyUrl,
    #redactoRoot.redactoSize-middle button.redactoCTAButton {
        width: 80%;
    }
}

.tac_visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

div#redactoAlertBig:focus {outline: 0;}

.redacto-modal-open-noscroll {overflow:hidden}
.redacto-modal-open{
    overflow: hidden;
    height: 100%;
}

#redactoContentWrapper {display:unset;}

/** 10082023 **/
div#redactoServices {
    border-radius: 8px;
}

button#redactoClosePanel {
    border-radius: 5px 5px 0 0;
    right: 15px!important;
}
button.redacto-toggle-group {
    background: transparent!important;
    padding: 10px 0 0;
    cursor: pointer;
}

#redactoRoot .redactoIsDenied .redactoAllow .redactoCheck::before {
    content: '\2610'!important
}

#redactoRoot .redactoIsAllowed .redactoAllow .redactoCheck::before {
    content: '\2611'!important
}

#redactoRoot .redactoIsDenied .redactoDeny .redactoCross::before {
    content: '\2611'!important
}

#redactoRoot .redactoIsAllowed .redactoDeny .redactoCross::before {
    content: '\2610'!important
}

#redactoRoot .redactoAllow .redactoCheck::before {
    content: '\2610'!important
}

#redactoRoot .redactoDeny .redactoCross::before {
    content: '\2610'!important
}

#redactoRoot #redactoServices_mandatory .redactoCheck::before {
    content: '\2611'!important
}

#redactoRoot .redactoCheck::before,
#redactoRoot .redactoCross::before {
    font-size: inherit;
}
/* hide useless mandatory button */
#redactoRoot #redactoServices #redactoServices_mandatory .redactoAsk {
    display: none!important;
}

/* remove icon from the banner */
#redactoRoot button.redactoCTAButton,
#redactoRoot button#redactoCloseAlert,
#redactoRoot button#redactoPrivacyUrl{
    border: 0;
    border-radius: 4px;
}
#redactoRoot button.redactoCTAButton .redactoCross,
#redactoRoot button.redactoCTAButton .redactoCheck {
    display:none;
}

/* dont use bold to avoid bigger button */
#redactoRoot #redacto [aria-pressed="true"] {
    font-weight: initial;
    text-shadow: 0px 0px 1px;
}

/* fix padding if no cookies */
#redactoRoot #redactoServices li#redactoNoServicesTitle {
    padding: 20px;
}

/* hide info about cookies number */
#redactoRoot .redactoStatusInfo {
    display: none;
}

#redactoRoot .redactoName {
    padding-top: 5px;
}
/***************/


/** 14042021 **/
span.redactoReadmoreSeparator {
    display: inline!important;
}
/******/

/** 09052021 **/
.redactoName .tacCurrentStatus, .redactoName .redactoReadmoreSeparator {
    color: #333!important;
    font-size: 12px!important;
    text-transform: capitalize;
}
/**************/

/** 27032021 **/
button.redacto-toggle-group {
    display: block;
}
span.redactoH3 {
    font-weight: 700!important;
}
#redacto #redactoServices_mandatory .redactoH3 {
    font-weight: 500!important;
    font-size: 14px;
    margin-top: 7px;
}
.redactoLine {
    border-left: 0px solid transparent!important;
}
/*****/

/** PARTNERS LIST **/
html body #redactoRoot #redactoAlertBig div.redactoPartnersList {
    text-align: left;
    background: #ffffff;
    margin: 15px 0px 10px;
    padding: 15px;
    display: block;
    border-radius: 4px;
}

html body #redactoRoot #redactoAlertBig div.redactoPartnersList b {
    font-weight: 700;
    padding-bottom: 8px;
    display: block;
    font-size: 16px;
}

html body #redactoRoot #redactoAlertBig div.redactoPartnersList ul {
    margin-left: 22px;
}

html body #redactoRoot #redactoAlertBig div.redactoPartnersList ul li {
    list-style: circle;
    font-size: 14px;
}
/**********************/

/** SAVE BUTTON **/
html body #redactoRoot button#redactoSaveButton {
    font-size: 18px!important;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
}

html body #redactoRoot div#redactoSave {
    text-align: right;
    padding: 20px;
    background: #ffffff;
}
/******************/

/** BETTER MOBILE MODE **/
@media screen and (max-width: 767px) {

    html body #redactoRoot #redacto ul#redactoServices_mandatory .redactoDeny {
        display: none!important;
    }

    html body #redactoRoot #redacto .redactoBorder button,
    html body #redactoRoot #redacto .redactoAsk,
    html body #redactoRoot #redacto .redactoName {
        width:100%!important;
        display: block!important;
        margin-left: 0!important;
        margin-right: 0!important;
        box-sizing: border-box!important;
        max-width: 100%!important;
        margin-bottom: 8px!important;
    }

    html body #redactoRoot #redacto .redactoBorder ul .redactoLine {
        padding: 16px!important;
    }

    html body #redactoRoot #redacto div#redactoMainLineOffset .redactoName {
        display: none!important;
    }

    #redactoServices_mandatory li.redactoLine .redactoName span {
        width: 100%!important;
        display: inline-block;
    }
    li.redactoLine .redactoName span {
        width: 80%!important;
        display: inline-block;
    }
    html body #redactoRoot #redacto .redactoBorder button.redacto-toggle-group {
        width: 10%!important;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 0px;
        padding: 10px 0;
    }
    html body #redactoRoot #redacto .redactoBorder button.redacto-toggle-group:before {
        content: '\0025BE';
        font-weight:700;
        font-size: 14px;
    }
    html body #redactoRoot #redacto .redactoBorder .redactoIsExpanded button.redacto-toggle-group:before {
        content: '\0025B4';
    }
}
@media screen and (min-width: 768px) {

    html body #redactoRoot #redacto .redactoBorder button.redacto-toggle-group:after {
        content: '\0025BE';
        font-weight:700;
        font-size: 14px;
        margin-left: 15px;
    }
    html body #redactoRoot #redacto .redactoBorder .redactoIsExpanded button.redacto-toggle-group:after {
        content: '\0025B4';
        margin-left: 15px;
    }
}
/****/



/***
* Reset CSS
*/
#redactoRoot div, #redactoRoot span, #redactoRoot applet, #redactoRoot object, #redactoRoot iframe, #redactoRoot h1, #redactoRoot h2, #redactoRoot h3, #redactoRoot h4, #redactoRoot h5, #redactoRoot h6, #redactoRoot p, #redactoRoot blockquote, #redactoRoot pre, #redactoRoot a, #redactoRoot abbr, #redactoRoot acronym, #redactoRoot address, #redactoRoot big, #redactoRoot cite, #redactoRoot code, #redactoRoot del, #redactoRoot dfn, #redactoRoot em, #redactoRoot img, #redactoRoot ins, #redactoRoot kbd, #redactoRoot q, #redactoRoot s, #redactoRoot samp, #redactoRoot small, #redactoRoot strike, #redactoRoot strong, #redactoRoot sub, #redactoRoot sup, #redactoRoot tt, #redactoRoot var, #redactoRoot b, #redactoRoot u, #redactoRoot i, #redactoRoot center, #redactoRoot dl, #redactoRoot dt, #redactoRoot dd, #redactoRoot ol, #redactoRoot ul, #redactoRoot li, #redactoRoot fieldset, #redactoRoot form, #redactoRoot label, #redactoRoot legend, #redactoRoot table, #redactoRoot caption, #redactoRoot tbody, #redactoRoot tfoot, #redactoRoot thead, #redactoRoot tr, #redactoRoot th, #redactoRoot td, #redactoRoot article, #redactoRoot aside, #redactoRoot canvas, #redactoRoot details, #redactoRoot embed, #redactoRoot figure, #redactoRoot figcaption, #redactoRoot footer, #redactoRoot header, #redactoRoot hgroup, #redactoRoot menu, #redactoRoot nav, #redactoRoot output, #redactoRoot ruby, #redactoRoot section, #redactoRoot summary, #redactoRoot time, #redactoRoot mark, #redactoRoot audio, #redactoRoot video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    /*background: initial;*/
    text-align: initial;
    text-shadow: initial;
}

/* Animation */
#redactoRoot * {transition: border 300ms, background 300ms, opacity 200ms, box-shadow 400ms}

/* HTML5 display-role reset for older browsers */
#redactoRoot article, #redactoRoot aside, #redactoRoot details, #redactoRoot figcaption, #redactoRoot figure, #redactoRoot footer, #redactoRoot header, #redactoRoot hgroup, #redactoRoot menu, #redactoRoot nav, #redactoRoot section {
    display: block;
}
#redactoRoot ol, #redactoRoot ul {
    list-style: none;
}
#redactoRoot blockquote, #redactoRoot q {
    quotes: none;
}
#redactoRoot blockquote:before, #redactoRoot blockquote:after, #redactoRoot q:before, #redactoRoot q:after {
    content: '';
    content: none;
}
#redactoRoot table {
    border-collapse: collapse;
    border-spacing: 0;
}

#redactoRoot a:focus-visible, #redactoRoot button:focus-visible {
    outline: 3px dashed #3d86d8;
}

/***
 * Better scroll management
 */
div#redactoMainLineOffset {
    margin-top: 0!important;
}

div#redactoServices {
    margin-top: 21px!important;
}

/*#redactoServices::-webkit-scrollbar {
    width: 5px;
}

#redactoServices::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
}

#redactoServices::-webkit-scrollbar-thumb {
    background-color: #ddd;
    outline: 0px solid slategrey;
}*/

div#redactoServices {
    box-shadow: 0 40px 60px #545454;
}

/***
 * Responsive layout for the control panel
 */
@media screen and (max-width:479px) {
    #redacto .redactoLine .redactoName {
        width: 90% !important;
    }

    #redacto .redactoLine .redactoAsk {
        float: left !important;
        margin: 10px 15px 5px;
    }
}

@media screen and (max-width:767px) {
    #redactoAlertSmall #redactoCookiesListContainer, #redacto {
        background: #fff;
        border: 0 !important;
        bottom: 0 !important;
        height: 100% !important;
        left: 0 !important;
        margin: 0 !important;
        max-height: 100% !important;
        max-width: 100% !important;
        top: 0 !important;
        width: 100% !important;
    }

    #redacto .redactoBorder {
        border: 0 !important;
    }

    #redactoAlertSmall #redactoCookiesListContainer #redactoCookiesList {
        border: 0 !important;
    }

    #redacto #redactoServices .redactoTitle {
        text-align: left !important;
    }

    .redactoName .redactoH2 {
        max-width: 80%;
    }

    #redacto #redactoServices .redactoLine .redactoAsk {
        text-align: center !important;
    }

    #redacto #redactoServices .redactoLine .redactoAsk button {
        margin-bottom: 5px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    #redacto {
        border: 0 !important;
        left: 0 !important;
        margin: 0 5% !important;
        max-height: 80% !important;
        width: 90% !important;
    }
}

/***
 * Common value
 */
#redactoRoot div#redacto {
    left: 0;
    right: 0;
    margin: auto;
}

#redactoRoot button#redactoBack {
    background: #eee;
}

#redacto .clear {
    clear: both;
}

#redacto a {
    color: rgb(66, 66, 66);
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
}

#redactoRoot button {
    background: transparent;
    border: 0;
}

#redactoAlertBig strong, #redactoAlertSmall strong,
#redactoAlertBig a, #redactoAlertSmall a {
    color: #fff;
}

#redacto strong {
    font-size: 22px;
    font-weight: 500;
}

#redacto ul {
    padding: 0;
}

#redacto .redactoH1, #redacto .redactoH2, #redacto .redactoH3, #redacto .redactoH4, #redacto .redactoH5, #redacto .redactoH6 {
    display: block;
}

.cookie-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
/***
 * Root div added just before </body>
 */
#redactoRoot {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

#redactoRoot * {
    box-sizing: initial;
    color: #333;
    /*font-family: sans-serif !important;*/
    font-size: 14px;
    line-height: normal;
    vertical-align: initial;
}

#redactoRoot .redactoH1 {
    font-size: 1.5em;
    text-align: center;
    color: #000000;
    margin: 15px 0 28px;
}

#redactoRoot .redactoH2 {
    display: inline-block;
    margin: 12px 0 0 15px;
    color: #000000;
}

#redactoCookiesNumberBis.redactoH2 {
    margin-left: 0;
}

/***
 * Control panel
 */
#redactoBack {
    background: #fff;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2147483646;
}

#redacto {
    display: none;
    max-height: 80%;
    left: 50%;
    margin: 0 auto 0 -430px;
    padding: 0;
    position: fixed;
    top: 6%;
    width: 860px;
    z-index: 2147483647;
}

#redacto .redactoBorder {
    background: #fff;
    border: 2px solid #333;
    border-top: 0;
    height: auto;
    overflow: auto;
}

#redactoAlertSmall #redactoCookiesListContainer #redactoClosePanelCookie,
#redacto #redactoClosePanel {
    background: #ffffff;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    padding: 4px 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 70px;
    border-radius: 5px 5px 0 0;
}

#redacto #redactoDisclaimer {
    color: #555;
    font-size: 12px;
    margin: 15px auto 0;
    width: 80%;
}

#redactoAlertSmall #redactoCookiesListContainer #redactoCookiesList .redactoHidden,
#redacto #redactoServices .redactoHidden {
    /*background: rgba(51, 51, 51, 0.07);*/
}

#redacto #redactoServices .redactoHidden {
    display: none;
    position: relative;
}

#redactoCookiesList .redactoH3.redactoTitle {
    width: 100%;
    box-sizing: border-box;
}

#redactoAlertSmall #redactoCookiesListContainer #redactoCookiesList .redactoTitle,
#redacto #redactoServices .redactoTitle button,
#redacto #redactoInfo,
#redacto #redactoServices .redactoDetails,
#redactoRoot .asCatToggleBtn {
    color: #000000;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 20px 0px 0px;
    padding: 5px 20px;
    text-align: left;
    width: auto;
    background: #ffffff;
}

#redacto #redactoServices .redactoMainLine .redactoName a,
#redacto #redactoServices .redactoTitle a {
    color: #fff;
    font-weight: 500;
}

#redacto #redactoServices .redactoMainLine .redactoName a:hover,
#redacto #redactoServices .redactoTitle a:hover {
    text-decoration: none !important;
}

#redacto #redactoServices .redactoMainLine .redactoName a {
    font-size: 22px;
}

#redacto #redactoServices .redactoTitle a {
    font-size: 14px;
}

#redactoAlertSmall #redactoCookiesListContainer #redactoCookiesList .redactoTitle {
    padding: 5px 10px;
    margin: 0;
}

#redacto #redactoInfo,
#redacto #redactoServices .redactoDetails:not(.redactoDetailsInline) {
    color: #000000;
    display: none;
    font-size: 12px;
    font-weight: 500;
    margin-top: 0;
    max-width: 270px;
    padding: 20px;
    position: absolute;
    z-index: 2147483647;
}

#redacto #redactoServices .redactoTitle + [id^="redactoDetails"] {
    width: calc(100% - 40px);
    font-weight:500;
    margin:0;
    padding:5px 20px 20px;
    background:white;
    color:#333;
}

#redacto #redactoInfo a {
    color: #fff;
    text-decoration: underline;
}

#redacto #redactoServices .redactoLine:hover {
    background:#ffffff;
}

#redacto #redactoServices .redactoLine {
    background: #ffffff;
    border-left: 5px solid transparent;
    margin: 0;
    overflow: hidden;
    padding: 15px 5px;
}

#redacto #redactoServices .redactoLine.redactoIsAllowed {
    border-color: #fbd600;
}

#redacto #redactoServices .redactoLine.redactoIsDenied {
    border-color: #fbd600;
}

#redacto #redactoServices .redactoMainLine {
    background: #ffffff;
    border: 3px solid #ffffff;
    border-left: 9px solid #ffffff;
    border-top: 5px solid #ffffff;
    margin-bottom: 0;
    margin-top: 21px;
    position: relative;
}

#redacto #redactoServices .redactoMainLine:hover {
    background: #ffffff;
}

#redacto #redactoServices .redactoMainLine .redactoName {
    margin-left: 15px;
    margin-top: 2px;
}

#redacto #redactoServices .redactoMainLine .redactoName button {
    color: #fff;
}

#redacto #redactoServices .redactoMainLine .redactoAsk {
    margin-top: 0px !important;
}

#redacto #redactoServices .redactoLine .redactoName {
    display: inline-block;
    float: left;
    margin-left: 15px;
    text-align: left;
    width: 50%;
}

#redacto #redactoServices .redactoLine .redactoName a:hover {
    text-decoration: underline;
}

#redacto #redactoServices .redactoLine .redactoAsk {
    display: inline-block;
    float: right;
    margin: 7px 15px 0;
    text-align: right;
}

#redacto #redactoServices .redactoLine .redactoAsk .redactoAllow,
#redacto #redactoServices .redactoLine .redactoAsk .redactoDeny,
.tac_activate .redactoAllow {
    background: #fbd600;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    width: auto;
    border: 0;
}

#redacto #redactoServices #redactoAllAllowed.redactoIsSelected {
    background-color: #fbd600;
    opacity: 1;
}
#redacto #redactoServices #redactoAllDenied.redactoIsSelected,
#redacto #redactoServices #redactoAllDenied2.redactoIsSelected {
    background-color: #fbd600;
    opacity: 1;
}

#redacto #redactoServices .redactoLine.redactoIsAllowed .redactoAllow,
#redacto #redactoServices #redactoServices_mandatory .redactoLine button.redactoAllow {
    background-color: #fbd600;
}
#redacto #redactoServices .redactoLine.redactoIsDenied .redactoDeny {
    background-color: #fbd600;
}

/*#redacto #redactoServices #redactoServices_mandatory .redactoLine button.redactoAllow{
    opacity: 0.4;
}*/

#redacto #redactoServices .redactoLine .redactoName .redactoListCookies {
    color: #333;
    font-size: 12px;
}

#redacto .redactoH3 {
    font-size: 18px;
}

#redacto #redactoMainLineOffset .redactoName {
    width: auto!important;
    margin-left: 0!important;
    font-size: 14px;
}

.redactoAlertBigBottom span#redactoDisclaimerAlert,
.redactoAlertBigTop span#redactoDisclaimerAlert {
    display: inline-flex;
}
span#redactoDisclaimerAlert {
    padding: 0 10px;
    display: inline-block;
    overflow-y: auto;
    max-height: 50vh;
    line-height: normal;
}
@media only screen and (max-width: 768px) {
    #redactoRoot span#redactoDisclaimerAlert {
        font-size: 16px;
    }
}
#redacto .redactoBorder, #redactoAlertSmall #redactoCookiesListContainer #redactoCookiesList .redactoCookiesListMain, #redactoAlertSmall #redactoCookiesListContainer #redactoCookiesList, #redactoAlertSmall #redactoCookiesListContainer #redactoCookiesList .redactoHidden, #redacto #redactoServices .redactoMainLine {
    border-color: #fff!important;
}

/***
 * Big alert
 */
.redactoAlertBigTop {
    top: 0;
}

.redactoAlertBigBottom {
    bottom: 0;
}

.redactoAlertBigTop,
.redactoAlertBigBottom {
    border: 1px solid rgba(0,0,0,.08);
    box-shadow: 0 20px 60px rgba(0,0,0,.25);
}

#redactoRoot #redactoAlertBig {
    background: #ffffff;
    color: #000000;
    display: none;
    font-size: 15px !important;
    left: 0;
    position: fixed;
    box-sizing: content-box;
    z-index: 2147483645;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: auto;
    width: 100%;
}

#redactoAlertBig #redactoPrivacyUrl,
#redactoAlertBig #redactoPrivacyUrlDialog,
#redactoAlertBig #redactoDisclaimerAlert,
#redactoAlertBig #redactoDisclaimerAlert strong,
#redactoAlertBig #redactoDisclaimerAlert .redactoPartnersList * {
    /*font: 15px verdana;*/
    color: #000;
}

#redactoAlertBig #redactoDisclaimerAlert strong {
    font-weight: 700;
}

#redactoAlertBig #redactoPrivacyUrl,
#redactoAlertBig #redactoPrivacyUrlDialog {
    cursor: pointer;
}

#redactoAlertBig #redactoCloseAlert,
#redactoAlertBig #redactoPersonalize,
#redactoAlertBig #redactoPersonalize2,
.redactoCTAButton,
#redacto #redactoPrivacyUrl,
#redacto #redactoPrivacyUrlDialog,
#redactoRoot .redactoDeny,
#redactoRoot .redactoAllow {
    background: #fbd600;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 16px!important;
    line-height: 1;
    padding: 8px 10px;
    text-decoration: none;
    margin-left: 7px;
}

#redactoRoot .redactoDeny {
    background: #fbd600;
}

#redactoAlertBig #redactoCloseAlert, #redacto #redactoPrivacyUrl, #redacto #redactoPrivacyUrlDialog {
    background: #fff;
    color: #333;
    font-size: 13px;
    margin-bottom: 3px;
    margin-left: 7px;
    padding: 8px 10px;
}

#redacto #redactoPrivacyUrlDialog {
    border-radius: 4px;
}

#redactoPercentage {
    background: #0A0!important;
    box-shadow: 0 0 2px #fff, 0 1px 2px #555;
    height: 5px;
    left: 0;
    position: fixed;
    width: 0;
    z-index: 2147483644;
}

/***
 * Icon
 */
.redactoIconBottomRight {
    bottom: 0;
    right: 0;
}
.redactoIconBottomLeft {
    bottom: 0;
    left: 0;
}
.redactoIconTopRight {
    top: 0;
    right: 0;
}
.redactoIconTopLeft {
    top: 0;
    left: 0;
}

.redactoIconTopLeft #redactoManager {
    border-radius: 2px 7px 7px 2px;
}

.redactoIconTopRight #redactoManager {
    border-radius: 7px 2px 2px 7px;
}

.redactoIconBottomLeft #redactoManager {
    border-radius: 7px 7px 2px 2px;
}

.redactoIconBottomRight #redactoManager {
    border-radius: 7px 7px 2px 2px;
}

#redactoIcon {
    background: transparent;
    position: fixed;
    /*display: none;*/
    width: auto;
    z-index: 2147483646;
}
#redactoIcon #redactoManager {
    color: transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 11px !important;
    padding: 8px 10px 8px;
    border: none;
}
#redactoIcon #redactoManager img {
    width: 50px;
    height: 50px;
}

#redactoRoot .redactoCross::before {
    content: '\2717';
    display: inline-block;
    color: #000;
}

#redactoRoot .redactoCheck::before {
    content: '\2713';
    display: inline-block;
    color: #000;
}

#redactoRoot .redactoPlus::before {
    content: '\271b';
    display: inline-block;
    color: black;
}


/***
 * Small alert
 */

.redactoAlertSmallTop,.redactoAlertSmallBottom {
    bottom: 0;
}

#redactoAlertSmall {
    background: #fff;
    display: none;
    padding: 0;
    position: fixed;
    right: 0;
    text-align: center;
    width: auto;
    z-index: 2147483646;
    box-shadow: 0 0 2px #ddd;
    border-radius: 5px 0 0 0;
}

#redactoAlertSmall #redactoManager {
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 11px !important;
    padding: 8px 10px 8px;
}

#redactoAlertSmall #redactoManager:hover {
    background: rgba(255, 255, 255, 0.05);
}

#redactoAlertSmall #redactoManager #redactoDot {
    background-color: gray;
    border-radius: 5px;
    display: block;
    height: 8px;
    margin-bottom: 1px;
    margin-top: 5px;
    overflow: hidden;
    width: 100%;
}

#redactoAlertSmall #redactoManager #redactoDot #redactoDotGreen,
#redactoAlertSmall #redactoManager #redactoDot #redactoDotYellow,
#redactoAlertSmall #redactoManager #redactoDot #redactoDotRed {
    display: block;
    float: left;
    height: 100%;
    width: 0%;
}

#redactoAlertSmall #redactoManager #redactoDot #redactoDotGreen {
    background-color: #1B870B;
}

#redactoAlertSmall #redactoManager #redactoDot #redactoDotYellow {
    background-color: #FBDA26;
}

#redactoAlertSmall #redactoManager #redactoDot #redactoDotRed {
    background-color: #9C1A1A;
}

#redactoAlertSmall #redactoCookiesNumber {
    background: rgba(255, 255, 255, 0.2);
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    padding: 0px 10px;
    vertical-align: top;
}

#redactoAlertSmall #redactoCookiesNumber:hover {
    background: rgba(255, 255, 255, 0.3);
}

#redactoAlertSmall #redactoCookiesListContainer {
    display: none;
    max-height: 70%;
    max-width: 500px;
    position: fixed;
    right: 0;
    width: 100%;
}

#redactoAlertSmall #redactoCookiesListContainer #redactoCookiesList {
    background: #fff;
    border: 2px solid #333;
    color: #333;
    font-size: 11px;
    height: auto;
    overflow: auto;
    text-align: left;
}

#redactoAlertSmall #redactoCookiesListContainer #redactoCookiesList strong {
    color: #333;
}

#redactoAlertSmall #redactoCookiesListContainer #redactoCookiesTitle {
    background: #fff;
    margin-top: 21px;
    padding: 13px 0 9px 13px;
    text-align: left;
    border-radius: 5px 0 0 0;
}

#redactoAlertSmall #redactoCookiesListContainer #redactoCookiesTitle strong {
    color: #000;
    font-size: 16px;
}

#redactoAlertSmall #redactoCookiesListContainer #redactoCookiesList .redactoCookiesListMain {
    background: rgba(51, 51, 51, 0.1);
    padding: 7px 5px 10px;
    word-wrap: break-word;
}

#redactoAlertSmall #redactoCookiesListContainer #redactoCookiesList .redactoCookiesListMain:hover {
    background: rgba(51, 51, 51, 0.2);
}

#redactoAlertSmall #redactoCookiesListContainer #redactoCookiesList .redactoCookiesListMain a {
    color: #333;
    text-decoration: none;
}

#redactoAlertSmall #redactoCookiesListContainer #redactoCookiesList .redactoCookiesListMain .redactoCookiesListLeft {
    display: inline-block;
    width: 50%;
}

#redactoAlertSmall #redactoCookiesListContainer #redactoCookiesList .redactoCookiesListMain .redactoCookiesListLeft a strong {
    color: darkred;
}

#redactoAlertSmall #redactoCookiesListContainer #redactoCookiesList .redactoCookiesListMain .redactoCookiesListRight {
    color: #333;
    display: inline-block;
    font-size: 11px;
    margin-left: 10%;
    vertical-align: top;
    width: 30%;
}

/***
 * Embeded cookies list
 */
#redactoServicesnoTitle_cookies #redactoServices_cookies .redactoHidden {
    display:block!important;
}
#redactoServicesnoTitle_cookies #redactoCookiesList .redactoH3 {
    padding: 8px 20px;
    margin-top: 0!important
}
#redactoServicesnoTitle_cookies .redactoCookiesListLeft, #redactoServicesnoTitle_cookies .redactoCookiesListRight {
    padding:10px 14px;
    width: Calc(50% - 56px);
    display:inline-block;
    word-break: break-all;
    vertical-align: top;
}
#redactoServicesnoTitle_cookies .redactoCookiesListRight {
    font-family:monospace
}
#redactoServicesnoTitle_cookies .redacto-spacer-20 {
    height:0;
}
#redactoServicesnoTitle_cookies .purgeBtn {
    cursor:pointer
}
html body #redactoRoot #redacto #redactoServicesnoTitle_cookies:hover #redactoCookiesList ul li {
    background:transparent!important
}
@media screen and (max-width: 767px) {
    #redactoServicesnoTitle_cookies #redacto-toggle-group-cookies {
        text-align:left;
        padding:0 0 0 3px!important
    }

    html body #redactoRoot #redactoServicesnoTitle_cookies .redactoCookiesListLeft .purgeBtn {
        display: inline!important;
        width: auto!important
    }
}

/***
 * Fallback activate link
 */
.tac_activate {
    background: #333;
    color: #fff;
    display: table;
    font-size: 12px;
    height: 100%;
    line-height: initial;
    margin: auto;
    text-align: center;
    width: 100%;
}

.tac_float {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.tac_activate .tac_float strong {
    color: #fff;
}

.tac_activate .tac_float .redactoAllow {
    background-color: #fbd600;
    display: inline-block;
}

/***
 * CSS for services
 */
ins.ferank-publicite, ins.adsbygoogle {
    text-decoration: none;
}

div.amazon_product {
    height:240px;
    width:120px;
}

/*.redactoIsAllowed .redactoDeny {
    opacity: 0.4!important;
}.redactoIsDenied .redactoAllow {
     opacity: 0.4!important;
 }.redactoIsAllowed .redactoAllow {
      opacity: 1!important;
  }.redactoIsDenied .redactoDeny {
       opacity: 1!important;
   }
.redactoLine .redactoAllow, .redactoLine .redactoDeny {
    opacity: 0.4;
}
#redactoServices_mandatory button.redactoAllow {
    opacity: 1;
}*/

div#redactoInfo {
    display: block!important;
    position: relative !important;
    text-align: center!important;
    max-width: 80%!important;
    padding: 15px 0!important;
    margin: -10px auto 40px!important;
    font-size: 1em!important;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #555;
}

#redactoRoot a.redactoSelfLink {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    text-align: center;
    display: block;
    height:30px;
}
#redactoRoot a.redactoSelfLink img {
    margin-left: auto;
    margin-right: auto;
    width: 119px;
}

.redactoMainLine .redactoH2 {
    font-size: 1.2em!important;
    margin-top: 4px!important;
}

span.redactoTitle.redactoH3 {
    margin-top: 12px!important;
}

#redactoCloseCross {
    position:absolute;
    color: #000;
    font-size:1.8rem;
    cursor: pointer;
    top: 10px;
    right: 26px
}

#redactoCloseCross span {
    color: inherit;
}

.redacto-spacer-20 {
    height: 20px;
    display: block;
}

.redacto-display-block {
    display: block;
}

.redacto-display-none {
    display: none;
}

.redactoSize-middle #redactoPrivacyUrl {
    display: block;
    margin: 15px auto 0;
}

.redactoSize-bottom #redactoCloseCross,
.redactoSize-top #redactoCloseCross{
    position:initial;
    margin: 0;
    margin-left:20px;
    padding: 0;
    font-size:18px;
}

.redactoSize-bottom #redactoAlertBig #redactoCloseAlert,
.redactoSize-top #redactoAlertBig #redactoCloseAlert {
    margin-bottom:0;
}

.redactoSize-bottom #redactoAlertBig #redactoPrivacyUrl,
.redactoSize-top #redactoAlertBig #redactoPrivacyUrl {
    margin-left:7px;
}

#redactoRoot #redactoBack {
    border-radius: 0;
}

/* custom title for popup and middle banner */
#redactoRoot.redactoSize-middle #redactoAlertBig::before, #redactoRoot.redactoSize-popup #redactoAlertBig::before {content: var(--tacTitleBanner);}

/* middle banner */
div#redactoRoot.redactoSize-middle.redactoBeforeVisible:before {content: '';position: fixed;width: 100%;height: 100%;background: white;top: 0;left: 0;z-index: 100000;opacity: 0.5;}
body #redactoRoot.redactoSize-middle div#redactoAlertBig {width: 60%;min-width: 285px;height: fit-content;margin: auto;top:0;left:0;bottom:0;right:0;box-shadow: 0 0 9000px #000;border-radius: 20px;padding: 35px 25px;}
.redactoSize-middle span#redactoDisclaimerAlert {padding: 0 30px;}
#redactoRoot.redactoSize-middle span#redactoDisclaimerAlert {margin: 10px 0 30px;display: block;text-align: center;font-size: 21px;}
@media screen and (max-width: 900px) {.redactoSize-middle div#redactoAlertBig button {margin: 0 auto 10px!important;display: block!important;}}
.redactoSize-middle div#redactoAlertBig:before {font-size: 35px;}

/* popup banner */
.redactoSize-popup div#redactoAlertBig:before {font-size: 22px;}
body #redactoRoot.redactoSize-popup div#redactoAlertBig {bottom: 0;top: auto!important;left: 8px!important;right: auto!important;transform: initial!important;border-radius: 5px 5px 0 0!important;max-width: 250px!important;width: calc(100% - 16px)!important;min-width: 0!important;padding: 25px 0;}
.redactoSize-popup span#redactoDisclaimerAlert {padding: 0 30px;font-size: 15px!important;}
#redactoRoot.redactoSize-popup span#redactoDisclaimerAlert {margin: 10px 0 30px;display: block;text-align: center;font-size: 21px;}
.redactoSize-popup div#redactoAlertBig button:not(#redactoCloseCross) {margin: 0 auto 10px!important;display: block!important;width: calc(100% - 60px);box-sizing: border-box;}